.dentist-calendar-section{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.termins-right{
    max-height: 20vh;
    max-width: 20vw;
}
.calendar-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hours-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.hour-slot{
    padding: 10px 20px;
    border: 1px solid #0c7cd1;
    border-radius: 8px;
    background-color: #d6ecfd;
    cursor: pointer;
}
