.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    height: 15vh;
    border-bottom: 1px solid white;
    justify-content: space-between;
    background-color: #d6ecfd;
    padding: 20px 30px 20px 30px ;
}

.header_logo{
    display: flex;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    flex-grow: 1;
    cursor: pointer;
}

.header_nav{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}
.reservation_button{
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
    font-size: 2rem;
    padding: 16px;
    background-color: #0c7cd1;
    font-weight: bold;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid black;
    margin-right: 1rem;
}

.header_nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.header_nav_list li {
    display: flex;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    align-items: center;
    flex-direction: row;
    width: min-content;
    white-space: nowrap;
}

.header_nav_list li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    cursor: pointer;
    color: #0c7cd1;
    transition: color 0.3s ease;
    padding: 20px;
}

.header_nav_list li a:hover {
    color: #48aaf5;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #0c7cd1;
}

/*mobiles*/
@media (max-width: 768px) {
    .header {
        position: static;
    }
    .hamburger {
        display: block;
        margin-right: 20px;
    }

    .header_nav {
        display: none;
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        z-index: 1000;
    }

    .header_nav.active {
        display: flex;
        background-color: #0c7cd1;;
        width: 100%;
        position: absolute;
    }

    .header_nav_list {
        flex-direction: column;
        gap: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_nav_list li:hover {
        background-color: lightblue;
    }

    .header_nav_list li a {
        font-size: 5vw;
        padding: 10px 20px;
    }
    .header_nav_list li a:hover {
        color: white;
    }

    .desktop_only {
        display: none;
    }

    .mobile_only_button {
        background-color: #0c7cd1;
        color: white;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: bold;
        text-decoration: none;
    }



}
