.heading-text{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.home-page-heading{
    display: flex;
    flex-direction: row;
}

.heading-text span{
    color: #48aaf5;
}
.content-block{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.heading h1{
    margin:0;
    padding: 0;
    font-size: 3rem;
    font-weight: bold;
}

.heading span{
    color: #4aabf5;
}
.heading-text{
    display: flex;
    width: 50%;
}
.homepage_left,
.homepage_right {
    width: 50%;
    padding: 10px;
    display: flex;
    object-fit: cover;
}

.homepage_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 30px
}

.heading-sub{
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    color: black;
}

.info-box {
    display: flex;
    flex: 1;
    border: none;
    background: none;
    padding: 20px;
    transition: background 0.3s;
    cursor: pointer;
}

.info-box:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}
.info-box:hover {
    background: lightblue;
}

.info-box-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    left: 30px;
}

.info-icon {
    font-size: 20px;
    color: #007BFF;
    flex-shrink: 0;
}



.info-text h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.info-text p {
    margin: 2px 0;
    font-size: 0.8rem;
    color: black;
    text-align: left;
}

.address-box p{
    font-size: 0.6rem;
}

.homepage_image {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .homepage_right {
        display: none;
    }
    .homepage_left {
        text-align: center;
    }
    .heading-text{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .contact-info {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .info-box:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }
    .info-text h2{
        font-size: 1rem;
    }
    .info-text p {
        font-size: 1rem;
    }


    .heading h1{
        font-size: 2.3rem;
        margin-top: 20px;
    }
    .contact-info{
        width: 100%;
        display: flex;

    }
    .content-block{
        width: 100%;
        justify-content: center;
    }
    .info-box{
        justify-content: center;
    }
}
